<div class="accordion-wrapper">
  <h3>
    <button
      type="button"
      [aria-expanded]="isExpanded()"
      class="accordion-trigger"
      [attr.aria-controls]="controlId"
      [id]="id"
      (click)="toggle()"
    >
      <span class="accordion-title">
        <span>Shiping Instance: {{ name }}</span>
        <span class="accordion-indicators">
            @if(isWarning){<span class="dot"></span>}
            <span class="chevron" [ngClass]="isExpanded() ? 'chevron-arrow-up':'chevron-arrow-down'"></span>
        </span>
      </span>
    </button>
  </h3>
  <div
    [id]="controlId"
    role="region"
    [attr.aria-labelledby]="id"
    class="accordion-panel"
    [class.expanded]="isExpanded()"
  >
    <ng-content></ng-content>
  </div>
</div>
