main {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (min-width:1024px) {
    main{
        flex-direction: row;
        gap: 24px;
    }
    section {
        flex: 1;
    }

    aside {
        flex: 0 0 350px;
    }
}

@media screen and (min-width:1224px) {
    aside {
        flex: 0 0 450px;
    }
}