<app-card>
  <div card-header>
    <div class="detail-header">
      <h2>{{ order.poId }}</h2>
      <div id="order-details">
        <p>{{ order.poDate | date }}</p>
        <p>{{ order.status }}</p>
      </div>

      <ul class="tag-list">
        @for(tag of order.poTags; track $index){
        <li>
          <span>{{ tag.value }}</span>
        </li>
        }
      </ul>
    </div>
  </div>
  <div card-body>
    <div class="detail-summary">
      <h4>Logistics Summary</h4>
      <ul>
        <li>
          <p>Total Shipments: {{ order.shipments.length }}</p>
        </li>
        <li>
          <p>Order Date: {{ order.poDate | date }}</p>
        </li>
      </ul>
      <h4>Order Lines</h4>
      <ul>
        @for(line of order.orderLines; track line.lineId) {
        <li>
          <p>{{ line.lineId }}</p>
        </li>
        }
      </ul>
    </div>
  </div>
</app-card>
