.detail-header {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
#order-details {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: normal;
}
.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding-left: 0;
}

.tag-list span {
    padding: 2px 4px;
    background-color: antiquewhite;
    border-radius: 8px;
    font-size: 12px;
}

.detail-summary {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

ul {
    padding-left: 16px;
}

