<app-card>
  <div card-header>
    @if(order$ | async; as order){
    <div class="detail-header">
      <h2>{{ order.poId }}</h2>
      <div id="order-details">
        <p>{{ order.poDate | date }}</p>
        <p>{{ order.status }}</p>
      </div>

      <ul class="tag-list">
        @for(tag of order.poTags; track $index){
        <li>
          <span>{{ tag.value }}</span>
        </li>
        }
      </ul>
    </div>
    }
  </div>
  <div card-body>
    @if(order$ | async; as order){
    <div class="detail-summary">
      <div id="detail-overview">
        <app-card>
          <div card-header><h3>Logistics Summary</h3></div>
          <div card-body>
            <div class="card-details">
              <p>Total Shipments: {{ order.shipments.length }}</p>
              <p>Total Lines: {{ order.orderLines.length }}</p>
              <p>Order Date: {{ order.poDate | date }}</p>
              @for(alert of order.poAlerts; track alert.alertId) {
              <app-alert-banner [alert]="alert"></app-alert-banner>
              }
            </div>
          </div>
        </app-card>

        <app-card>
          <div card-header><h3>Order Lines</h3></div>
          <div card-body>
            <ul id="order-lines">
              @for(line of order.orderLines; track line.lineId) {
              <li>
                <app-order-line [orderLine]="line"></app-order-line>
              </li>
              }
            </ul>
          </div>
        </app-card>
      </div>
      <app-shipments-list [shipment]="order.shipments"></app-shipments-list>
    </div>

    <div id="select-wrapper">
      <select
        name="orderLines"
        id="orderLines"
        #orderSelect
        (change)="filterOrderLines(orderSelect.value)"
      >
        @for(order of (orderIds$ | async); track order) {
        <option [value]="order">{{ order }}</option>
        }
      </select>
    </div>
    <app-table
      [data]="(filteredOrderLines$ | async) || []"
      tableTitle="Order Lines Table"
    ></app-table>
    }
  </div>
</app-card>
