
<app-card>
  <div card-header>
    <div class="detail-header">
      <h2>{{ order.poId }}</h2>
      <p>{{order.poDate | date}}</p>
      <p>{{ order.status }}</p>
      <ul class="tag-list">
        @for(tag of order.poTags; track $index){
        <li><span>{{ tag.value }}</span></li>
        }
      </ul>
    </div>
  </div>
  <div card-body>
    <div class="detail-summary">
      <h2>Logistics Summary</h2>
      <ul>
        <li>Total Shipments: {{ order.shipments.length }}</li>
        <li>Order Date {{ order.poDate }}</li>
      </ul>
      <h2>Order Lines</h2>
      <ul>
        @for(line of order.orderLines; track line.lineId) {
          <li>{{line.lineId}}</li>
        }
      </ul>
    </div>
  </div>
</app-card>

