/* You can add global styles to this file, and also import other style files */

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
  font-weight: 500;
}
h4 {
  font-size: 16px;
  letter-spacing: 0.5px;
}

a:focus,
button:focus,
select:focus {
  outline: none;
  border-color: #d82f5a;
  border-radius: 4px;
  box-shadow: 0 0 4px #d82f5a, 0 0 4px #d82f5a, 0 0 2px #d82f5a, 0 0 4px rgba(216, 47, 90, 0.6);
}
a,
button,
select,
option {
  cursor: pointer;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
